a.active {
  background-color: #ea454b;
}

#introduction {
  background-color: red;
  height: 600px;
}

#rightnow {
  background-color: yellow;
  height: 600px;
}

#about {
  background-color: blue;
  height: 600px;
}

#contact {
  background-color: black;
  height: 600px;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

  .pin-top {
    position: relative;
  }

  .pin-bottom {
    position: relative;
  }

  .pinned {
    position: fixed !important;
  }

  .nav-wrapper {
  	height: 100%;
  }