
#introduction {
  background-color: red;
  height: 600px;
}

#rightnow {
  background-color: yellow;
  height: 600px;
}

#about {
  background-color: blue;
  height: 600px;
}

#contact {
  background-color: black;
  height: 600px;
}

